@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Karla&family=Nunito:ital,wght@0,200;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito',sans-serif;
}

/* DEFAULTS SELECTORS  !*/
body {
    background-color: #191919;
}

html {
    font-size: 10px;
}

h3 {
    text-align: center;
    font-size: 4rem;
    margin: 7rem;
    color: white;
}

.descricao-pessoal {
    padding: 2rem;
    display: grid;
    grid-template-columns:30rem auto auto;
    width: 100rem;
    align-items: center;
    column-gap: 2rem;
    
}

/* DESCRIÇÃO PROFISSIONAL */
.descricao-profissional {
    padding: 20px;
    display: flex;
    justify-content: start;
    border-radius: 10px;
    gap: 20px;
    width: 100%;
    height: 500px;
}

.descricao_card_um {
    gap: 1rem;
    display:flex;
    line-height: 1.1;

}

.descricao_card_dois p{
    transform: translate(0px,120%);
    font-weight: 700;

    gap: 3rem;
}

.nav-main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
}

.header-list {
    display: flex;
    gap: 30px;
    font-size: 20px;
}

.header-list li,a{
    color:#fff;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
}

.children-header-list a:hover {
    color:#f9004d;
    transform: scale(1.1);
    text-shadow: 5px 10px 20px #ec4a7d;
    border-radius: 20px;
    transition: 0.3s;


}

.portfolio {
   color: #fff;
   font-size: 35px;
}

.portfolio span {
    color:#f9004d;
}


.details--p {
    line-height: 1.1;
    font-family: 'Rubik',sans-serif;
    font-size: 35px;
    color:#f3f3f3;

}
.details::first-letter{
    font-size: 50px;
}
/* ARTICLE */

.article-main {
    width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  margin-bottom: 10rem;

    }

.div-article-1 {
    display: flex;
    align-items: center;
    padding: 4.5rem;
    transform: translate(0,-10%);
}

.linkedin-btn:link,.linkedin-btn:visited {
    background-color: #0e76a8;
    padding: 1rem 5rem;
    border-radius: 0rem;
    margin-top: 2rem;
    font-weight: 500;
    transition: all 300ms ease-in;
    border: none;
}
.linkedin-btn:hover,.linkedin-btn:active {
    background-color:#229bd2; ;
    box-shadow: 0 0 0 3px rgb(127, 197, 255);
}

.tecno-image{
    width: 700px;
    box-shadow: 0px 20px 30px 10px #7e3ec234;
}

.main-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    
}

aside {
    display: flex;
    justify-content: space-around;
}

/* CARDS */

.card {
    padding: 20px;
    color: #999595;
    font-weight: bold;
    font-size: 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    transition: transform 0.5s ease-in-out;
 
}

.card:hover {
    cursor: pointer;
}

.tecno {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 3rem;
    padding: 5rem 0;
    transition: 500ms;

}

.tecno img:hover {
scale: 1.15;
}

.tecno p {
    transform: translate(0px ,-7%);
}
.tecnos {
    width: 6rem;
}

.aside-card-1 {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0px 100px;
}

footer {
    text-align: center;
    margin: 50px;
    color:#fff;
}
/* IMAGENS */
.qr-code {
    border-radius: 10px;
    display:inline-block;
    width:40rem    
}
.picture {
    width: 500px;
}
.subsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 25px;
    padding: 20px;
}

.minus {
    color:#56bb8f;
    font-weight: bolder;
}

.minus:hover {
   color: #f8f6f6;
   font-weight: 700;
    transition: 0.4 ease-in-out;
}
.card-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin:10rem 20rem;
}